*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color:rgb(245,245,245);
}

/* header part css start */

/* common fonts */

.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
  

/* common fonts */

/* header part css start */

header{
    width: 1280px;
    margin: 0px auto;
}

.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;
}

.logo{
    font-size: 32px;
    color: rgba(14, 14, 14, 1);
}

.menu-button{
    padding: 16px 30px;
    background-color: transparent;
    font-size: 18px;
    color: rgba(0, 106, 80, 1);
    border-radius: 8px;
    border-color: rgba(0, 106, 80, 1);
    border-style: solid;
}

.menu-button:hover{
    background-color: rgba(0, 106, 80, 1);
    color: #ffffff;
    /* border: none; */
    transition: all linear .2s;
}

/* header part css end */

/* banner part css start */

.banner{
    background-color: rgba(198, 228, 214, 1);
    border-radius: 24px;
    margin-top: 24px;
}

.banner-container{
    padding: 80px 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
}

.bang20{
    color: rgb(106, 121, 114);
    font-size: 24px;
    line-height: 29px;
}

.titleh1{
    font-size: 52px;
    margin: 24px 0px;
    line-height: 48px;
}

.banner-button{
    font-size: 18px;
    color: #ffffff;
    background-color:rgba(0, 106, 80, 1);
    padding: 17px 34px;
    border: none;
    border-radius: 8px;
}

.banner-button:hover{
    background-color: rgb(245,245,245);
    color: rgba(0, 106, 80, 1);
    transition: all linear .2s;
    box-shadow: 0px 0px .5px;
}

.banner-img img{
    width: 100%;
}
/* banner part css end  */

/* header part css ends */

/* main part css start */

main{
  width: 1280px;
  margin: 80px auto;
}

/* pillars part css start */
.pillarh2{
  font-size: 40px;
  line-height: 48px;
  color: rgb(14, 14, 14);
}

.pillar-card1{
  background-color: rgb(255, 255, 255);
  /* border: .5px gray;
  border-style:solid; */
  /* box-shadow: 0px 0px 2px; */
  border: 1px solid rgba(14, 14, 14, 0.15);
  padding: 24px;
  border-radius: 16px;
}

.pillar-box{
  display: flex;
  gap: 24px;
  margin-top: 32px;
}

.cardtitle{
  font-size: 20px;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.8);
  margin: 24px 0px;
}

.pillar-container{
  margin-bottom: 80px;
}

.cardintro{
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
  line-height: 24px;
}
/* pillars parts css ends */

/* vision css start */

.vision{
  margin-bottom: 32px;
}

.vision-box{
  display: flex;
  gap: 24px;
}

.vision-card1{
  padding: 32px;
  border-radius: 16px;
  background: rgba(84, 144, 245, 0.2);
}

.visionh2{
  font-size: 40px;
  line-height: 48px;
  color: rgb(14, 14, 14);
}

.visionintro{
  font-size: 16px;
  line-height: 24px;
  margin: 24px 0px 32px 0px;
  color: rgba(14, 14, 14, 0.7)
}

.vision-title{
  font-size: 20px;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.8);
  margin: 24px 0px;
}

.visionp{
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
  line-height: 24px;
}

.card-button{
  margin: 24px 0px;
}

.vision-card2{
  border-radius: 16px;
background: rgb(198, 228, 214);
}

.vision-card3{
  border-radius: 16px;
background: rgb(247, 235, 207);
}

.card-button{
  border-radius: 8px;
  background: rgb(84, 144, 245);
  padding: 11px 20px;
  border: none;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.card-button:hover{
  color:rgb(84, 144, 245) ;
  background-color: #ffffff;
  cursor: pointer;
}

.card-button2{
  background: rgb(9, 161, 92);
}

.card-button2:hover{
  color:rgb(9, 161, 92) ;
  background-color: #ffffff;
}

.card-button3{
  background: rgb(255, 194, 57);
}

.card-button3:hover{
  color:rgb(255, 194, 57) ;
  background-color: #ffffff;
}
/* vision css end */

/* quote css start */

.quote{
  margin-bottom: 80px;
}

.quote-container{
  padding: 48px 24px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  position: relative;
}

.quoteimage{
  position: absolute;
  margin-top: -22px;
}

.quote-intro{
  font-size: 16px;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 12px;
}

.younus{
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  line-height: 24px;
}

.younusintro{
  color: rgba(14, 14, 14, 0.6);
  font-size: 16px;
  line-height: 24px;
}
/* quote css end */

/* opinion css start */

.opinion{
  margin-bottom: 80px;
}

.opinionh2{
  font-size: 40px;
  line-height: 48px;
  color: rgb(14, 14, 14);
  margin-bottom: 24px;
}

.opinion-chart{
  padding: 32px;
  background-color: #ffffff;
  border-radius: 16px;
}

.chart-head{
  padding: 24px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid gray; */
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: rgb(198, 228, 214)
}

.optionss{
  padding: 24px;
  display: flex;
  /* border: 1px solid gray; */
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: rgba(255, 255, 255, 0.1);
  align-items: center;
}

.q1{
  width: 1017px;
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.answer{
  width: 200px;
  padding: 12px;
  border: 1px solid rgb(14, 14, 14);
  border-radius: 4px;
  background: rgb(198, 228, 214);
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.question , .choose{
  color: rgb(14, 14, 14);
  font-size: 20px;
  line-height: 24px;
}
/* opinion css end */

/* recent news css start */

.news-title{
  font-size: 40px;
  line-height: 48px;
  color: rgb(14, 14, 14);
}

.newsintro{
  font-size: 16px;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
  margin: 24px 0px;
}

.newscard1{
  border-radius: 24px;
  background: rgb(255, 255, 255);
  padding: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.cardh3{
  color: rgba(14, 14, 14, 0.8);
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 12px;
}

.jazeera{
  margin-bottom: 12px;
}

.date{
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
}

.cardp{
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 32px;
}

.news-button{
  border-radius: 8px;
  background: rgb(0, 106, 80);
  padding: 13px 16px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 22px;
  border: none;
 
}

.news-button:hover{
  color:rgb(0, 106, 80) ;
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 0px 2px;
}

.cardimg img{
  border-radius: 24px;
}

.news-card{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* recent nws css end */

/* donamte part css start */

.donate{
  width: 1140px;
  margin: 80px auto;
  text-align: center;
}

.donateh2{
  color: rgb(14, 14, 14);
  font-size: 40px;
  line-height: 48px;
  /* text-align: center; */
}

.donatep{
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  line-height: 24px;
  /* text-align: center; */
  margin: 24px 0px 32px 0px;
}

.money-buttons [type="submit"]{
  padding: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
}

.money-buttons [type="submit"]:hover{
  background-color:rgb(198, 228, 214);;
}

.exceptional{
  background-color: rgb(198, 228, 214) !important;
}

.money-buttons [value]{
  color: rgba(14, 14, 14, 0.8);
  font-family: "Fira Sans", serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
}

.money-buttons{
  display:flex ;
  justify-content: center;
  gap: 20px;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.field{
  /* margin: 32px 0px; */
  text-align: center;
  /* padding: 40px; */
   width: 1140px;
}

.fieldtext{
  width: 900px;
  padding:20px 40px;
  margin-top: 32px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(14, 14, 14, 0.15);
  background: rgb(255, 255, 255);
}
/* donate part css end */
/* main part css end */